@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";

@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f0f6fc;
  --background-color-opposite: rgb(10, 10, 10);
  --padding: 2rem;
  --scroll-threshold: 50vh;
}

[theme="dark"] {
  --background-color: rgb(10, 10, 10);
  --background-color-opposite: #f0f6fc;
  --background: rgb(10, 10, 10);
  --foreground: #f0f6fc;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
}

html {
  scrollbar-gutter: stable;
}