@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";

@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f0f6fc;
  --background-color-opposite: #0d1117;
}

[theme="dark"] {
  --background-color: #0d1117;
  --background-color-opposite: #f0f6fc;
}

body {
  color: var(--background-color);
  background-color: var(--background-color);
  --padding: 2rem;
  --scroll-threshold: 50vh;
}

svg {
  color: var(--accent-10);
}

