.button {
  z-index: 1;
  @apply relative mx-auto rounded-full border border-solid flex items-center justify-center text-sm h-10 px-4 hover:bg-white hover:text-black overflow-hidden select-none
}

.menu-toggle
{
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
  
  a {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
  }

  a:hover
  {
    color: tomato;
  }
}

.menu
{
  z-index: 0;
  position: absolute;
  width: 300px;
  /* margin: -100px 0 0 0; */
  padding: 50px;
  padding-top: 125px;
  /* right: -100px; */
  top: 0;
  right: 0;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li
{
  padding: 10px 0;
  font-size: 22px;
}

.menu-toggle button[data-opened="false"] ~ ul
{
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}