/* scroll-to-top.module.css */
.btn {
  animation: show both steps(1);
  animation-timeline: scroll(root);
  animation-range: 0 var(--scroll-threshold);
}

@supports (animation-timeline: scroll()) {
  @property --show-scroll-to-top {
    inherits: true;
    initial-value: 0;
    syntax: '<number>';
  }

  .btn {
    translate: 0 calc(80vh - (var(--show-scroll-to-top, 0) * 80vh));
    transition: translate 0.475s cubic-bezier(0.4, 0, 0.2, 1);
  }

  @keyframes show {
    to { --show-scroll-to-top: 1; }
  }
}
